img{
    margin-top: 40px;
    margin-left: 50px;
}

.list{
    display: flex;
    justify-content: center;
    float: right;
    margin-right: 40px;
}

.list-item{
    display: flex;
    margin: 30px;
    margin-top: -55px;
}

.btn-outline{
    padding-left: 30px ;
    padding-right: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-top: -10px;
    background-color: white;
    border-radius: 2rem;
    border-color: blue;
    border-width: 3px;
    cursor: pointer;
}
.btn-outline:hover{
    color: black;
    background-color: rgb(96, 96, 253);
}

.hero-left h1{
    margin-left:70px;
    margin-top: 100px;
    font-size: 50px;
}

.hero-left p{
    margin-left: 70px;
    margin-top: -20px;
    font-size: 15px;
}

.hero-left button{
    margin-left: 80px;
    padding-left: 30px ;
    padding-right: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
    background: linear-gradient(to right bottom, #11c0f8, #0566ea);
    border-radius: 0.5rem;
    
    border-width: 3px;
    cursor: pointer;
    color: white;
    font-size: medium;
}

.hero-right img{
    float: right;
    margin-right: 200px;
    margin-top: -280px;
    width: 400px
}

.testing-left img{
    margin-top: 200px;
    margin-left: 70px;
    width: 480px;
}

.testing-right{
    float: right;
    margin-top: -280px;
}

.testing-right h2{
    font-size: 50px;
    margin-right: 100px;
}

.testing-right p{
    margin-right: 100px;
    margin-top: -20px;
    font-size: 15px;
}

.testing-right button{
    margin-left: 80px;
    padding-left: 30px ;
    padding-right: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
    background: linear-gradient(to right bottom, #11c0f8, #0566ea);
    
    
    border-width: 3px;
    cursor: pointer;
    color: white;
    font-size: medium;
}

.technical-section-left h2{
    margin-left:90px;
    margin-top: 230px;
    font-size: 50px;

}

.technical-section-left p{
    margin-left: 70px;
    margin-top: -20px;
    font-size: 15px;

}

.technical-section-left button{
    margin-left: 80px;
    padding-left: 30px ;
    padding-right: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
    background: linear-gradient(to right bottom, #11c0f8, #0566ea);
    border-radius: 0.5rem;
    
    border-width: 3px;
    cursor: pointer;
    color: white;
    font-size: medium;
}

.technical-section-right img{
    float: right;
    margin-right: 200px;
    margin-top: -320px;
    width: 450px
}

.services-headline h2{
    margin-top: 150px;
    margin-left:90px;
    
    font-size: 50px;
}

.services-headline p{
    float: right;
    margin-top: -120px;
    margin-right: 200px;
    font-size: 15px;
    font-weight: lighter;
}

.services-card1{
    display: flex;
    margin-left: 70px;
}

.services-card2{
    display: flex;
    
    margin-left: 70px;
}

.card1{
    margin: 30px;
    width: 33.33%;
}

.card1 h4{
    font-size: 25px;
    font-weight: bolder;
}

.card1 p{
    font-size: 13px;
    font-weight: lighter;
}

.card2{
    margin: 30px;
    width: 33.33%;
}

.card2 h4{
    font-size: 25px;
    font-weight: bolder;
}

.card2 p{
    font-size: 13px;
    font-weight: lighter;
}

.pricing-wrapper {
    background-color: rgb(62, 126, 245);
}

.pricing-wrapper h2{
    text-align: center;
    font-size: 40px;
    color: white;
    padding: 60px 0px;
}

.pricing {
    max-width: 76rem;
    margin: 0 auto;
    display: flex;
    text-align: left;
    gap: 20px;
    justify-content: center;
  }

  .pricing-card{
    margin: 20px;
    width: 33.33%;
    margin-top: -30px;
    background-color: #fff;
    border-radius: 2rem;
  }

  .card-heading h4{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
  }

  .card-heading p{
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    margin-top: -25px;

  }

  .pricing .pricing-card:nth-child(2) .card-heading {
    color: white;
    background-color: black;
    height: fit-content;
    padding: 1px;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    
  }

  .pricing-card-body{
    margin-left: 30px;
  }

  .pricing-card-footer{
    text-align: center;
    font-size: 30px;
    padding: 5px;
  }

  .pricing-card-footer span{
    color: lightblue
}

.pricing-card-footer p{
    color: lightblue;
    font-size: 18px;
    margin-top: -30px;
}

.btn-pricing{
    padding-left: 30px ;
    padding-right: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
    
    background-color: white;
    border-radius: 0.5rem;
    border-color: blue;
    border-width: 1px;
    cursor: pointer;
    font-weight: bolder;
    color: blue;
    font-size: medium;

}

.btn{
    padding-left: 30px ;
    padding-right: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
    
    background: linear-gradient(to right bottom, #11c0f8, #0566ea);
    border-radius: 0.5rem;
    border: none;
    border-color: blue;
    border-width: 1px;
    cursor: pointer;
    font-weight: bolder;
    color: white;
    font-size: medium;
}

.customer-section h1{
    margin-top: 90px;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
}

.customer-section p {
    text-align: center;
    padding-top: 20px;
    color: #b8b3cb;
    font-weight: 600;
    font-size: 15px;
    padding-bottom: 60px;
  }

  .customer-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  
  .customer-card {
    padding: 0px 22px;
    width: 34rem;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    height: 300px;
  }
  
  .customer-card p {
    line-height: 28px;
    text-align: left;
    color: #56565f;
    font-size: 15px;
  }
  
  .customer-card .customer-info div img {
    width: 80px;
    margin-top: -0.5px;
  }
  
  .customer-card .customer-info {
    display: flex;
    gap: 20px;
  }
  
  .customer-card .customer-info .info h5 {
    margin-top: 17px;
    font-size: 1rem;
    color: #253853;
  }
  
  .customer-card .customer-info .info p {
    margin-top: -40px;
    font-size: 15px;
  }
  
  .customer-card:first-child {
    box-shadow: 0 0 40px 20px rgba(66, 79, 98, 0.05);
  }

  .footer{
    margin-top: 200px;
    background: linear-gradient(to right bottom, #11c0f8, #0566ea);
    height: 300px;
 }

 .footer-left h1{
    margin-left: 70px;
    padding: 50px;
    font-size: 50px;
    color: white;
 }

.footer-left p{
    margin-left: 150px;
    margin-top: -50px;
    font-size: 15px;
    color:#b8b3cb ;
}

.footer-right button{
    float: right;
    margin-right: 290px;
    margin-top: -150px;
    background-color: transparent;
    color: #ffffff;
    border: 1.8px solid #ffffff;
    padding: 15px 40px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    border-radius: 10px;
}
.footer-right button:hover{
    color: black;
}

.logo p{
    margin-left: 40px;
    font-weight: lighter;
    font-size: 13px;
}

.bottom-footer{
    display: flex;
    margin-top: 200px;
    justify-content: space-between;
}
 .footer-navbar{
    flex: 2;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
    
 }

 .footer-navbar ul{
    list-style-type: none;
 }

 .logo img{
    width: 130px;
    
}

.footer-navbar div h5 {
    margin-left: 50px;
    font-size: larger;
    color: blue;
    margin-top: 50px;
    font-weight: 1000;
}

.footer-navbar div ul li{
    margin: 15px;
    font-size: 15px;
    color: #6e6e6e;
}

.bottom-footer .footer-navbar div:last-child ul {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 5px;
  }
  
  .bottom-footer .footer-navbar div:last-child h5 {
    text-align: center;
  }
  
  .bottom-footer .footer-navbar div:last-child ul li img {
    width: 36px;
    margin: -10px;
  }
